@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Darker Grotesque", sans-serif;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    min-height: 80vh;
    background-color: #f5f5f5;
    padding: 70px 0;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 25px;
    color: #111;
    text-transform: uppercase;
    font-weight: 800;
}

.menu .navbar ul li {
    float: left;
    position: relative;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #111;
    display: block;
}

.submenu {
    position: relative;
}

.submenu #carrito {
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1;
    backdrop-filter: blur(10px);
    background-color: #4E4B5076;
    padding: 20px;
    min-width: 400px;
}

table {
    width: 100%;
}

th,
td {
    color: #fff;
}

.borrar {
    background-color: #111;
    border-radius: 50%;
    padding: 5px 10px;
    color: #fff;
    font-weight: 800;
    cursor: pointer;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 0 200px;
}

.header-img {
    flex-basis: 50%;
    text-align: center;
}

.header-txt {
    flex-basis: 50%;
    text-align: center;
}

.header-txt h1 {
    font-size: 90px;
    text-transform: uppercase;
    line-height: 1;
    color: #f025259f;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 15px;
}

.header-txt p {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.boton1 {
    display: inline-block;
    padding: 11px 25px;
    background-color: #e63e3e98;
    color: #fff;
    border-radius: 5px;
}

.ofert {
    padding: 20px 0 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.ofert-1 {
    display: flex;
    align-items: center;
    flex-basis: calc(33.3% - 15px);
    background-color: #f5f5f5;
    padding: 35px;
}

.ofert-1 .img {
    flex-basis: 50%;
    margin-right: 15px;
}

.ofert-1 .img img {
    width: 250px;
}

.ofert-txt {
    flex-basis: 50%;
    text-align: center;
}

.ofert-txt h3 {
    color: #111;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.boton2 {
    display: inline-block;
    padding: 7px 10px;
    background-color: #e42d2d96;
    color: #fff;
    border-radius: 5px;
    font-size: 15px;
}

.products {
    padding: 50px 0;
    text-align: center;
}

.products h2 {
    color: #111;
    font-family: "Darker Grotesque", sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.products-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.products-content .product {
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.product img {
    width: 250px;
    height: 270px;
    margin-bottom: 20px;
}

.product h3 {
    font-size: 20px;
    color: #111;
    font-family: "Darker Grotesque", sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.product p,
.precio {
    font-size: 16px;
    color: #111;
    margin-bottom: 15px;
}

.precio {
    font-weight: 800;
}

.blog {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    gap: 30px;
}

.blog-1 {
    flex-basis: 30%;
    padding: 25px;
    background-color: #cf67672f;
    text-align: center;
}

.blog h2 {
    color: #111;
    font-family: "Darker Grotesque", sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.blog-1 img {
    width: 300px;
    height: 250px;
}

.blog-1 h3 {
    font-size: 20px;
    color: #111;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.blog-1 p {
    font-size: 16px;
    color: #111;
}

.footer {
    padding: 50px 0;
    background-color: #111;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.link h3 {
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.link a {
    font-size: 16px;
    color: #DCDCDC;
    display: block;
    margin-bottom: 10px;
}

/* Responsive */
@media (max-width: 991px) {
    .menu {
        padding: 20px;
    }

    .menu label {
        display: initial;
        cursor: pointer;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #181818;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    .menu .navbar ul li a {
        color: #fff;
    }

    #menu:checked~.navbar {
        display: block;
    }

    .logo {
        display: none;
    }

    .submenu:hover #carrito {
        min-width: 100%;
    }

    .header {
        min-height: auto;
        flex-direction: column;
        padding: 30px;
    }

    .header-img {
        display: none;
    }

    .header-content {
        padding: 20px;
        flex-direction: column;
        text-align: center;
    }

    .header-txt h1 {
        font-size: 70px;
    }

    .ofert {
        flex-direction: column;
        padding: 30px;
    }

    .ofert-1 {
        margin-bottom: 30px;
    }

    .products-content {
        grid-template-columns: 1fr;
    }

    .product img {
        width: 100%;
        height: auto;
    }

    .blog {
        flex-direction: column;
        padding: 0 30px 30px;
    }

    .blog-1 {
        margin-bottom: 30px;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }
}